.btn {
  font-family: inherit;
  color: var(--title-color);
  background: var(--light-txt-color);
  border-radius: 22px;
  box-shadow: none;

  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  text-align: center;
}

.btn__animation {
  background-color: var(--light-txt-color);
  color: var(--title-color);
  transition: color var(--slow-timing-func), background-color var(--slow-timing-func),
    transform var(--fast-timing-func);

  &:hover,
  &:focus {
    background-color: var(--title-color);
    color: var(--light-txt-color);
    transform: scale(115%);
    box-shadow: 0px 2px 2px rgb(212, 20, 67, 0.75);
  }
}
