.contacts-backdrop {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 243, 233, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--fast-timing-func), visibility var(--fast-timing-func);
}

.contacts-backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.contacts-modal {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 97vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 460px;
  border-radius: 22px;
  padding: 60px 20px 40px;
  background-color: var(--accent-background-color);
  box-shadow: rgba(212, 20, 67, 0.75) 0px 2px 2px;
  height: fit-content;
  transition: transform var(--fast-timing-func), opacity var(--fast-timing-func),
    visibility var(--fast-timing-func);
  &.contacts-modal-open {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }
  @media screen and (orientation: landscape) {
    top: 50vh;
    &.contacts-modal-open {
      transform: translate(-50%, -50vh);
    }
  }
}

.contacts-modal__btn-close {
  position: absolute;
  top: 20px;
  right: 15px;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.contacts-modal__icon {
  fill: var(--light-txt-color);
  transition: fill var(--fast-timing-func);

  &:hover,
  &:focus {
    fill: var(--title-color);
  }
}

.contacts-form {
  display: flex;
  flex-direction: column;
}

.contacts-modal__title {
  margin-bottom: 10px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 0.965;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: var(--title-color);
  text-align: center;
  @media screen and (max-width: 767.98px) {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts-modal__subtitle {
  margin-bottom: 18px;
  color: var(--light-txt-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-transform: lowercase;
  text-align: center;
}

.contacts-form__item {
  display: block;
  margin-bottom: 15px;
}

.contacts-form__label,
.contacts-form__textarea {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--light-txt-color);
}

.contacts-form__title {
  @extend .contacts-modal__subtitle;
  display: block;
  font-weight: 700;
  font-size: 15px;
  text-transform: none;
  text-align: start;
  margin-bottom: 0;
}

%border-transition {
  transition: border var(--fast-timing-func);
  &:focus {
    border: 2px solid var(--title-color);
  }
}

.contacts-form__input {
  display: block;
  box-sizing: border-box;
  color: var(--title-color);
  border: transparent;
  outline: transparent;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0 10px;
  width: 100%;
  height: 35px;
  @extend %border-transition;
}

.contacts-form__textarea {
  display: block;
  box-sizing: border-box;
  color: var(--title-color);
  border: transparent;
  outline: transparent;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  height: 100px;
  resize: none;
  @extend %border-transition;
}

.contacts-form__submit-btn {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  border: none;

  @extend .btn__animation;
}
