.customer {
    cursor: -webkit-grab;
}

.customer__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 85px;
    height: 85px;
    border-radius: 100%;
}


.customer__summary-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    margin-top: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: 768px) {
        padding-bottom: 32px;
        font-size: 16px;
    }
}


.customer__summary-background {
    position: relative;
    width: 280px;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color:var(--light-review-background);
    padding: 43px 50px 10px;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        width: 620px;
            padding-bottom: 34px;
                padding-right: 6px;
                padding-top: 37px;
                padding-left: 6px;
                margin-bottom: 4px;
    }
   @media screen and (min-width: 1280px){
       width:1037px;
        padding-bottom: 31px;
            padding-top: 47px;
            padding-left: 106px;
            padding-right: 107px;
            margin-bottom: 16px;
    } 


}


.customer__summary-background:before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translate(-50%);
    width: 32px;
    height: 4px;
    background-image: url("../images/dots.png");
    @media screen and (min-width: 768px){
        bottom: -16px;
    }
}

.customer__summary-background::after {
    content: " ";
    position: absolute;
    z-index: 0;
    background-image: url("../images/quote.png");
    width: 61px;
    height: 40px;
    top: 30px;
    left: 40px;
@media screen and (min-width: 768px){
       top: 20px;
        left: 6px;
}
@media screen and (min-width: 1280px){
top: 32px;
left: 105px;
}
}

.customer__summary-text {

    font-weight: 500;
    padding-right: 15px;
    padding-left: 8px;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    position: relative;
    z-index: 1;


    background-image: -webkit-repeating-linear-gradient(top,
            transparent 0px,
            transparent 29px,
            #e1e1e1 29px,
            transparent 30px);
    background-image: -moz-repeating-linear-gradient(top,
            transparent 0px,
            transparent 29px,
            #e1e1e1 29px,
            transparent 30px);
    background-image: -ms-repeating-linear-gradient(top,
            transparent 0px,
            transparent 29px,
            #e1e1e1 29px,
            transparent 30px);
    background-image: -o-repeating-linear-gradient(top,
            transparent 0px,
            transparent 29px,
            #e1e1e1 29px,
            transparent 30px);
    background-image: repeating-linear-gradient(top,
            transparent 0px,
            transparent 30px,
            #e1e1e1 30px,
            transparent 31px);
    
     @media screen and (min-width: 768px){
         font-size: 14px;
        line-height: 2.16;
        padding-right: 49px;
            padding-left: 44px;
        }
         @media screen and (min-width: 1280px){
            font-size: 16px;
            line-height: 1.86;
            padding-left: 36px;
            padding-right: 35px;
            padding-bottom: 8px;
             
         }

}

// "SWIPER STYLES"

.swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    margin-bottom: 40px;
    padding-bottom: 16px;

    @media screen and (min-width: 1280px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.swiper-slide {
    text-align: center;

}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
    left: 0;
    width: 100%;}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
    z-index: 2;

}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-image: url(../images/home-image.png);
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-repeat: no-repeat;
}

// @media screen and (min-width: 1280px)
// @media screen and (min-width: 768px)