<section class="section contacts" id="contacts">
  <div class="container">
    <div class="contact-card">
      <h3 class="cotatact__title"><span class="title__color">CAFE</span></h3>
      <ul class="contact-list">
        <li>
          <b>Chicago</b>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
        <li>
          <ul>
            <li>
              <b>Monday - Friday</b>
              <p>06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <b>Saturday - Sunday</b>
              <p>08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </li>
        <li>
          <p><a class="link" href="tel:+610383766284">+61(0) 383 766 284</a></p>
          <p><a class="link" href="mailto:noreply@envato.com">noreply@envato.com</a></p>
        </li>
      </ul>
    </div>
  </div>
</section>
