<!--Контакты-->
<section id="contact" class="contacts">
  <div class="container">
    <ul class="contacts-list">
      <li class="contacts-item">
        <p class="contacts-title">CAFE</p>
        <p class="contacts-place">Chicago</p>
        <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts-container">
          <p class="contacts-day">Monday - Friday</p>
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
          <p class="contacts-day">Saturday - Sunday</p>
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-social">
          <a class="contacts-link" href="tel:+61(0)383766284 ">+61(0) 383 766 284 </a>
          <a class="contacts-link" href="mailto:noreply@envato.com ">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-item">
        <p class="contacts-title sub-title">FOODTRACK</p>
        <p class="contacts-place">Los Angeles</p>
        <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts-container">
          <p class="contacts-day">Monday - Friday</p>
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
          <p class="contacts-day">Saturday - Sunday</p>
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-social">
          <a class="contacts-link" href="tel:+61(0)383766284 ">+61(0) 383 766 284 </a>
          <a class="contacts-link" href="mailto:noreply@envato.com ">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-item">
        <p class="contacts-title">CAFE</p>
        <p class="contacts-place">New York</p>
        <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts-container">
          <p class="contacts-day">Monday - Friday</p>
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
          <p class="contacts-day">Saturday - Sunday</p>
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-social">
          <a class="contacts-link" href="tel:+61(0)383766284 ">+61(0) 383 766 284 </a>
          <a class="contacts-link" href="mailto:noreply@envato.com ">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <div class="contacts-btns">
      <a
        class="contacts-btn"
        href="https://www.google.com/maps/d/edit?mid=1TNwrbIttaRwqLgueql4i6lu5UXBK4-4&usp=sharing"
        target="_blank"
        >Our Location</a
      >
      <button class="contacts-btn-2" type="button" data-modal-contacts-open>Franchise ></button>
    </div>
  </div>
</section>
