<section class="footer section" id="footer"> 
    <div class="container">
        <div class="footer__titel">
            <p class="footer__titel__little">homemade ice cream made</p>
            <p class="footer__titel__big">with passion</p> 
        </div>
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link"   href="https://github.com/" target="_blank">
                    <svg class="footer__icon__github">
                        <use href="images/icons.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link"   href="https://web.telegram.org/" target="_blank">
                    <svg class="footer__icon__telegram">
                        <use href="images/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link"  href="https://www.facebook.com/" target="_blank">
                    <svg class="footer__icon__facebook">
                        <use href="images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer__connection">
            <p class="footer__text">Feel free to contact </p>
            <a href="tel:+61 (0) 383 766 284" class="footer__contat">+61 (0) 383 766 284</a>
        </div>
        
    </div>
</section>
<div class="footer__border">
    <p class="footer__copy"> &#169;2019 - IceCream. All Rights Reserved. </p>
</div>
