<section class="footer section" id="footer"> 
    <div class="container">
        <div class="footer__titel">
            <h1 class="footer__titel__little">homemade ice cream made</h1>
            <span class="footer__titel__big">with passion</span> 
        </div>
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link"  href  aria-label =" icon-github ">
                    <svg class="footer__icon__github">
                        <use href="images/icons.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link"  href  aria-label =" icon-telegram ">
                    <svg class="footer__icon__telegram">
                        <use href="images/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href  aria-label =" icon-facebook ">
                    <svg class="footer__icon__facebook">
                        <use href="images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer__connection">
            <p class="footer__text">Feel free to contact </p>
            <a href="tel:+61 (0) 383 766 284" class="footer__contat">+61 (0) 383 766 284</a>
        </div>
    </div>
</section>
