<section id="gallery" class="section gallery">
  <div class="container">
    <!-- Grid -->

    <div class="galery__container">
      <div class="box box-1"></div>
      <div class="box box-2"></div>
      <div class="box box-3"></div>
      <div class="box box-4"></div>
      <div class="box box-5"></div>
      <div class="box box-6"></div>
      <div class="box box-7"></div>
      <div class="box box-8"></div>
      <div class="box box-9"></div>
      <div class="box box-10"></div>
    </div>


    <!-- <ul class="galery__container">
      <li class="galery__thumb">
        <div class="galery__item">
          <picture class="galery__picture">
        
        
          </picture>
        </div>
      </li>
      <li class="galery__thumb">
        <div class="galery__group">
          <div class="galery__item">

          </div>
          <div class="galery__item">
    
          </div>
        </div>
      </li>
      <li class="galery__thumb">
        <div class="galery__group">
          <div class="galery__item galery__item--lg">
        
          </div>
          <div class="galery__item">
        
          </div>
        </div>
      </li>
      <li class="galery__thumb">
        <div class="galery__group">
          <div class="galery__item">
        
          </div>
          <div class="galery__item">
        
          </div>
        </div>
      </li>
      <li class="galery__thumb">
        <div class="galery__group">
          <div class="galery__item">
        
          </div>
          <div class="galery__item">
        
          </div>
        </div>
      </li>
      <li class="galery__thumb">
        <div class="galery__item">
        
        </div>
      </li>
    </ul> -->
    
    <!-- <div class="galery__container">

      

      
      
      <div class="galery__group">
        <div class="galery__item">
      
        </div>
        <div class="galery__item">
          <picture class="galery__picture">
      
      
          </picture>
        </div>      
      </div>

      <div class="galery__group">
        <div class="galery__item galery__item--lg">
      
        </div>
        <div class="galery__item">
          <picture class="galery__picture">
      
      
          </picture>
        </div>      
      </div>

      <div class="galery__group">
        <div class="galery__item">
      
        </div>
        <div class="galery__item">
          <picture class="galery__picture">
      
      
          </picture>
        </div>      
      </div>
      
      <div class="galery__item">
        <picture class="galery__picture">
    
    
        </picture>
      </div>      
    </div> -->
   
    <!-- <h2 class="visually-hidden">gallery</h2>
    <picture>
      <source
        srcset="
          ./images/gallery-img-desktop.jpg 1x,
          ./images/gallery-img-desktop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/gallery-img-tablet.jpg    1x,
          ./images/gallery-img-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/gallery-img-mob.jpg 1x, ./images/gallery-img-mob@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img
        class="gallery__image"
        src="./images/gallery-img-mob.jpg"
        alt="gallery"
      />
    </picture>
    -->
  </div>
</section>


