<section class="hero" id="hero">
    <div class="hero__container container">
        <div class="title__thumb">
            <h1 class="hero__title">ice cream made with <span class="hero__accent">passion</span></h1>
            <nav>
                <ul class="hero__list list">
                    <li class="hero__item">
                        <a href="#products" class="hero__link link btn__animation">Products</a>
                    </li>
                    <li class="hero__item">
                        <a href="#about" class="hero__link link btn__animation">How it&#39;s made?</a>
                    </li>
                </ul>
            </nav>              
        </div>
        <div class="text__container">
        <div class="text__thumb--sm">
                <div class="circle--sm"></div>
                <p class="hero__text"><span class="hero__text hero__text--accent">16</span>cafes</p>            
        </div>
        <div class="text__thumb--sm">
            <div class="circle--sm"></div>
            <p class="hero__text"><span class="hero__text hero__text--accent">23</span>food trucks</p>
            
        </div>
        </div>
        <div class="text__container--lg">
            <div class="text__thumb--lg" overflow-on>
                <p class="hero__text hero__text--about " data-menu-hidden>let's work together! We are ready to start cooperation right now! Creative solutions for your business are born here!</p>
                    <div class="descr" data-menu>
                        <h2 class="descr__title">Crew Team</h2>
                        <p class="descr__text hero__text">
                            The best team of developers that can solve problems of varying complexity in the shortest possible time. We work for a result that will satisfy any requirements of the consumer.
                            The secret of our success is a team approach to solving problems, mutual respect and harmony in the team, the desire to achieve a common goal - to become better every day!
                        </p>
                    </div>
            </div>            
            <button class="hero__button btn__animation" type="button" aria-label="learn more button"  data-menu-button aria-expanded="false">        
            <svg class="hero__icon">        
                <use href="./images/icons.svg#icon-arrow-right2"></use>
            </svg>
            </button>
        </div>
        <!-- Accent-picture -->
        <picture class="hero__picture hero__picture--primary">
            <!-- Desktop -->
            <source srcset="./images/hero-ice-cream-desktop.png        1x,
                            ./images/hero-ice-cream-desktop@2x.png     2x"
                            media="(min-width: 1280px)"
                            type="image/png"/>
            <!-- Tablet -->
            <source srcset="./images/hero-ice-cream-tablet.png         1x,
                            ./images/hero-ice-cream-tablet@2x.png      2x" 
                            media="(min-width: 768px)"
                            type="image/png"/>
            <!-- Mobile -->
            <source srcset="./images/hero-ice-cream-mob.png        1x,
                            ./images/hero-ice-cream-mob@2x.png     2x" 
                            media="(max-width: 767px)"
                            type="image/png"/>
            <img class="hero__image" src="./images/hero-ice-cream-mob.png" alt="ice cream photo">
        </picture>

        <!-- Secondary-picture MILK -->
        <picture class="hero__picture hero__picture--milk">
            <!-- Desktop -->
            <source srcset="./images/hero-milk-desktop.png        1x,
                            ./images/hero-milk-desktop@2x.png     2x" 
                            media="(min-width: 1280px)"
                            type="image/png"/>

            <!-- Tablet -->
            <source srcset="./images/hero-milk-tablet.png       1x,
                            ./images/hero-milk-tablet@2x.png    2x" 
                            media="(min-width: 768px)"
                            type="image/png"/>

            <img class="hero__image" src="./images/hero-milk-tablet.png" alt="milk photo">
        </picture>

        <!-- Secondary-picture GIRL -->
        <picture class="hero__picture hero__picture--girl">
            <!-- Desktop -->
            <source srcset="./images/hero-girl-desktop.png        1x,
                            ./images/hero-girl-desktop@2x.png    2x" 
                            media="(min-width: 1280px)"
                            type="image/png" />
            <!-- Tablet -->
            <source srcset="./images/hero-girl-tablet.png         1x,
                            ./images/hero-girl-tablet@2x.png      2x"
                            media="(min-width: 768px)"
                            type="image/png" />

            <img class="hero__image" src="./images/hero-girl-tablet.png" alt="girl with ice-cream photo">
        </picture>
        <div class="circle"></div>
    </div>
</section>

<script src="../js/hero.js"></script>