<div class="backdrop-mobile is-hidden">
<div class="mobile-menu  ">
    <div class="mobile-menu__wrapper">
        <h2 class="visually-hidden">mobile menu</h2>
    <button class="mobile-btn-close" type="button"  ><svg class="menu-cloce" width="40px" height="40px">
        <use href="images/icons.svg#icon-close_40px"></use>
    </svg></button>
    <ul class="mobile-menu__list list">
        <li class="mobile-menu__item item-btn"><button class="mobile-btn" data-modal-open>Buy now <span><svg class="mobile-span">
            <use href="images/icons.svg#icon-btn-arrow"></use>
        </svg></span></button></li>
        <li class="mobile-menu__item "><a class="mobile-menu__link mobile-menu__link-color" href="#">Home</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#about-us">About us</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#about">How it’s made?</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#products">Our products</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#contact">Contact</a></li>
    </ul>
    
    
    </div>
</div>
</div>