<div class="about-backdrop about-backdrop--hidden" data-backdrop-about>
  <div class="about-modal" data-modal-about>
    <button class="about-modal__btn-close" type="button" data-modal-about-close>
      <svg class="about-modal__icon" width="40px" height="40px">
        <use href="images/icons.svg#icon-close_40px"></use>
      </svg>
    </button>
    <h3 class="about-modal__title">And yet, how do we differ from others</h3>
    <p class="about-modal__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde laboriosam, ut iste esse harum
      accusantium ea eaque officiis, eum obcaecati ipsa exercitationem maxime deserunt nihil sit
      consequuntur! Sint temporibus dolorum, asperiores similique voluptatibus harum, totam illo
      minus qui voluptates impedit vero iusto eum sit iste animi libero deserunt velit. Soluta
      repellat officia esse harum nobis? Culpa, minima. Tenetur, odio error at nobis eveniet soluta
      saepe nesciunt aspernatur in harum ex earum recusandae aliquam. Eveniet libero reprehenderit
      quaerat magnam cumque consectetur eum ab illo voluptas dolores quia eos, unde suscipit
      repellat amet aliquid? Quasi voluptatem deleniti dignissimos incidunt dolorum officia
      consequatur.
    </p>
  </div>
</div>
