<!--КАРТКИ ВІДГУКІВ КЛІЄНТІВ-->
<!--Загальний контейнер-->
<div id="about-us" class="swiper mySwiper">
  <!--Обов*язкова оболонка слайдів-->
  <div class="swiper-wrapper">
    <!--СЛАЙД1-->
    <div class="swiper-slide">
      <article class="customer">
        <picture>
          <source
            srcset="./images/participant1.jpg 1x, ./images/participant1@2x.jpg 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/participant1.jpg 1x, ./images/participant1@2x.jpg 2x"
            media="(max-width:768px)"
          />
          <img
            class="customer__image"
            src="./images/participant1.jpg"
            width="85"
            height="85"
            alt="Учасник"
          />
        </picture>
        <div class="customer__summary-background">
          <p class="customer__summary-text">
            A couple of years ago, I started learning programming on my own. Accidentally I found
            out about GoIT marathon. After participating I decided to continue studying, and now
            it's my third month with this great company. I'm absolutely satisfied with it!
          </p>
        </div>
        <h3 class="customer__summary-title">Oleksandr, Konotop</h3>
      </article>
    </div>

    <!--СЛАЙД2-->
    <div class="swiper-slide">
      <article class="customer">
        <picture>
          <source
            srcset="./images/participant2.jpg 1x, ./images/participant2@2x.jpg 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/participant2.jpg 1x, ./images/participant2@2x.jpg 2x"
            media="(max-width:768px)"
          />
          <img
            class="customer__image"
            src="./images/participant2.jpg"
            width="85"
            height="85"
            alt="Учасник"
          />
        </picture>
        <div class="customer__summary-background">
          <p class="customer__summary-text">
            I planed (and still planning) to become an interpreter. Out of nowhere I had gotten an
            opportunity to study in Go IT school. It was foolish to decline the offer, so I accepted
            it. At first, I had no desire to study. But after a while the studying became
            interesting and fun. Thus, IT is a part of me now.
          </p>
        </div>

        <h3 class="customer__summary-title">Danyil, Odesa</h3>
      </article>
    </div>
    <!--СЛАЙД3-->
    <div class="swiper-slide">
      <article class="customer">
        <picture>
          <source
            srcset="./images/participant3.jpg 1x, ./images/participant3@2x.jpg 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/participant3.jpg 1x, ./images/participant3@2x.jpg 2x"
            media="(max-width:768px)"
          />
          <img
            class="customer__image"
            src="./images/participant3.jpg"
            width="85"
            height="85"
            alt="Учасник"
          />
        </picture>
        <div class="customer__summary-background">
          <p class="customer__summary-text">
            I was an accountant, a military, a professional athlete. GoIT is a new stage in my life
            and it's time to move on, study and self-improve.
          </p>
        </div>

        <h3 class="customer__summary-title">Oleksandr, Dnipro</h3>
      </article>
    </div>
    <!--СЛАЙД4-->
    <div class="swiper-slide">
      <article class="customer">
        <picture>
          <source
            srcset="./images/participant4.jpg 1x, ./images/participant4@2x.jpg 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/participant4.jpg 1x, ./images/participant4@2x.jpg 2x"
            media="(max-width:768px)"
          />
          <img
            class="customer__image"
            src="./images/participant4.jpg"
            width="85"
            height="85"
            alt="Учасник"
          />
        </picture>
        <div class="customer__summary-background">
          <p class="customer__summary-text">
            I’m really enjoying the GoIT course! It’s pretty hard and intensive though, but I like
            challenging myself and developing new skills. So I hope there’s more interesting and
            useful things to discover.
          </p>
        </div>

        <h3 class="customer__summary-title">Valeriia, Kyiv</h3>
      </article>
    </div>
    <!--СЛАЙД5-->
    <div class="swiper-slide">
      <article class="customer">
        <picture>
          <source
            srcset="./images/participant5.jpg 1x, ./images/participant5@2x.jpg 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/participant5.jpg 1x, ./images/participant5@2x.jpg 2x"
            media="(max-width:768px)"
          />
          <img
            class="customer__image"
            src="./images/participant5.jpg"
            width="85"
            height="85"
            alt="Учасник"
          />
        </picture>
        <div class="customer__summary-background">
          <p class="customer__summary-text">
            I like to evolve and find something new for myself. One day, I clicked the button "Sign
            up for a free GoIT marathon" and here I am - on the first team project! Very pleased
            with my choice and happy to study in a great team!
          </p>
        </div>

        <h3 class="customer__summary-title">Roman, Kharkiv</h3>
      </article>
    </div>
    <!--СЛАЙД6-->
    <div class="swiper-slide">
      <article class="customer">
        <picture>
          <source
            srcset="./images/participant6.jpg 1x, ./images/participant6@2x.jpg 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/participant6.jpg 1x, ./images/participant6@2x.jpg 2x"
            media="(max-width:768px)"
          />
          <img
            class="customer__image"
            src="./images/participant6.jpg"
            width="85"
            height="85"
            alt="Учасник"
          />
        </picture>
        <div class="customer__summary-background">
          <p class="customer__summary-text">
            My hobby is sport and active recreation. The GoIT course is interesting, but not easy. I
            chose it because of good reviews.
          </p>
        </div>

        <h3 class="customer__summary-title">Yevgen, Ivano-Frankivsk</h3>
      </article>
    </div>
    <!--СЛАЙД7-->
    <div class="swiper-slide">
      <article class="customer">
        <picture>
          <source
            srcset="./images/participant7.jpg 1x, ./images/participant7@2x.jpg 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/participant7.jpg 1x, ./images/participant7@2x.jpg 2x"
            media="(max-width:768px)"
          />
          <img
            class="customer__image"
            src="./images/participant7.jpg"
            width="85"
            height="85"
            alt="Учасник"
          />
        </picture>
        <div class="customer__summary-background">
          <p class="customer__summary-text">
            Three months ago, I decided to change my profession. I scrolled different courses and,
            thanks to target ad, I discover Go IT. It is something absolutely new and at the same
            time fascinating. I see a progress and it gives me a boost.
          </p>
        </div>

        <h3 class="customer__summary-title">Viktoriia, Lviv</h3>
      </article>
    </div>
    <!--СЛАЙД9-->
    <div class="swiper-slide">
      <article class="customer">
        <picture>
          <source
            srcset="./images/participant8.jpg 1x, ./images/participant8@2x.jpg 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/participant8.jpg 1x, ./images/participant8@2x.jpg 2x"
            media="(max-width:768px)"
          />
          <img
            class="customer__image"
            src="./images/participant8.jpg"
            width="85"
            height="85"
            alt="Учасник"
          />
        </picture>
        <div class="customer__summary-background">
          <p class="customer__summary-text">
            I found out about GoIT seven days marathon with help of my parents. After that, I
            decided to keep studying.
          </p>
        </div>

        <h3 class="customer__summary-title">Yaroslav, Zaporizhzhia</h3>
      </article>
    </div>
    <!--СЛАЙД9-->
    <div class="swiper-slide">
      <article class="customer">
        <picture>
          <source
            srcset="./images/participant9.jpg 1x, ./images/participant9@2x.jpg 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/participant9.jpg 1x, ./images/participant9@2x.jpg 2x"
            media="(max-width:768px)"
          />
          <img
            class="customer__image"
            src="./images/participant9.jpg"
            width="85"
            height="85"
            alt="Учасник"
          />
        </picture>
        <div class="customer__summary-background">
          <p class="customer__summary-text">
            This course gave me a great opportunity to discover how to develop a product in a group.
            I was so delighted to be a part of this team.
          </p>
        </div>

        <h3 class="customer__summary-title">Yevgen, Kyiv</h3>
      </article>
    </div>
    <!--СЛАЙД10-->
    <div class="swiper-slide">
      <article class="customer">
        <picture>
          <source
            srcset="./images/participant10.jpg 1x, ./images/participant10@2x.jpg 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/participant10.jpg 1x, ./images/participant10@2x.jpg 2x"
            media="(max-width:768px)"
          />
          <img
            class="customer__image"
            src="./images/participant10.jpg"
            width="85"
            height="85"
            alt="Учасник"
          />
        </picture>
        <div class="customer__summary-background">
          <p class="customer__summary-text">
            People who do good work feel good, and people who do exceptional work feel exceptional.
            Achievement brings the most satisfaction. GoIT gives me that feeling.
          </p>
        </div>

        <h3 class="customer__summary-title">Artyom, Kyiv</h3>
      </article>
    </div>
  </div>

  <div class="swiper-pagination"></div>
</div>
