
<!--КАРТКИ ВІДГУКІВ КЛІЄНТІВ-->
<!--Загальний контейнер-->
<div id="about-us" class="swiper mySwiper">
<!--Обов*язкова оболонка слайдів-->
    <div class="swiper-wrapper">


 <!--СЛАЙД1-->
     <div class="swiper-slide">
       <article class="customer">
         <img src="./images/customers-img-1.png" class="customer__image" alt="учасник" />
           <div class="customer__summary-background">
                <p class="customer__summary-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
                </p>
           </div>
        <h3 class="customer__summary-title">Emily, Los Angeles</h3>
       </article>
      </div>

<!--СЛАЙД1-->
    <div class="swiper-slide">
        <article class="customer">
            <img src="./images/customers-img-2.png" class="customer__image" alt="учасник" />
            <div class="customer__summary-background">
                <p class="customer__summary-text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                    nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
        
            <h3 class="customer__summary-title">Emily, Los Angeles</h3>
        </article>
    </div>
<!--СЛАЙД3-->
<div class="swiper-slide">
    <article class="customer">
        <img src="./images/customers-img-3.png" class="customer__image" alt="учасник" />
        <div class="customer__summary-background">
            <p class="customer__summary-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>

        <h3 class="customer__summary-title">Emily, Los Angeles</h3>
    </article>
</div>
    </div>

<div class="swiper-pagination"></div>
</div>